<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tecnocom Insumos Tecnológicos</title>
    </head>

    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="desing/tecnocom_logo.png" width="200" aling="center" alt="Tecnocom Insumos Tecnológicos">
                </div>
                <h1>Bienvenidos a Tecnocom</h1>
                <h2>Insumos Tecnológicos</h2>
        </header>
    </body>
</html>