/* --------------------------------*/
/* ------- Contenido Footer -------*/
/* --------------------------------*/
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentPageTitle{
    display: inline-block;
    text-align: center;
    font-size: var(--fz-h4-dsk);
    background-color: var(--color-footer-back-s);
    background: rgb(81,11,88);
    background: linear-gradient(0deg, rgba(81,11,88,1) 0%, rgba(220,220,220,0.5034624201242996) 28%);
    color: var(--color-footer-title);
    font-family: HandSean, sans-serif;
    font-weight: bolder;
    padding: 6px 17px 6px;
    margin: 0px 50vp;
    border: solid #1f011f 0px;
    border-radius: 18px;
    width: auto;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.contentPageParagraph{
    text-align: left;
    font-size: var(--fz-h5-dsk);
    font-family: HandSean, sans-serif;
    padding: 6px 17px 6px;
    margin-bottom: 15px;
    border: solid #1f011f 0px;
    border-radius: 18px;
    width: auto;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    color: var(--color-footer-paragraph);
    background: rgb(188,186,186);
    background: linear-gradient(0deg, rgba(188,186,186,0.9012215237657563) 0%, rgba(220,220,220,0.5034624201242996) 9%);
}

.contentPageParagraphAlert{
    text-align: left;
    font-size: var(--fz-h5-dsk);
    font-family: HandSean, sans-serif;
    padding: 6px 6px 6px;
    margin-bottom: 15px;
    border: solid #6e1f1f 5px;
    border-radius: 19px;
    width: auto;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    color: rgb(41, 2, 49);
    background: rgb(145,142,142);
    background: linear-gradient(90deg, rgba(145,142,142,0.48592951584930844) 0%, rgba(180,177,177,0.3822880592666754) 57%, rgba(214,212,210,0.3962936615075717) 100%);
}

.contentPageParagraph-item{
    font-size: var(--fz-p-dsk);
    font-family: HandSean, sans-serif;
    padding: 6px 17px 6px;
    margin-bottom: 15px;
}