/* -------------------------------*/
/* ------- Pie de Página ---------*/
/* -------------------------------*/
footer {
  height: auto;
  background: #160229;
    background: -webkit-linear-gradient(to right, #17052e, #160229);
    background: linear-gradient(to right, #17052e, #120327);

    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.footer__content-box + .footer__content-box {
  border-top: solid 1px #595959;
}

.footer__content-box {
  width: 100%;
  padding: 16px 13px;
}

.footer__content-box h4 {
  font-family: HandSean, 'Roboto', sans-serif;
  color: var(--color-footer-item);
  font-size: var(--fz-footer-h4-box-mob);
  line-height: 17px;
}

.footer__content-box button {
  background: none;
  border: none;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 0px;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
  font-size: inherit;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.footer__collapse {
  display: none;
}

.footer__content-box:hover .footer__collapse {
  display: block;
}

.footer__ul {
  padding: 15px 0;
}

.footer__content-box li {
  list-style: none;
}

.footer__content-box a {
  color: var(--color-footer-subitem);
  text-decoration: none;
  line-height: 30px;
}

.footer__suscribe {
  padding-bottom: 32px;
}

.footer__suscribe-text {
  color: #ccc;
  font-size: 13px;
  line-height: 20px;
  cursor: default;
  margin: 10px 0;
}

.footer__form {
  width: 100%;
  height: 38px;
  display: flex;
}

.footer__form div:first-child {
  flex-grow: 1;
}

.footer__form div {
  width: 100%;
}

.footer__form input {
  width: 100%;
  flex-grow: initial;
  background-color: (--color-footer-mailbox-bk);
}

.footer__form-mail {
  font-size: var(--fz-footer-mail-box-mob);
  border: none;
  padding: 0 17px;
  height: 100%;
}

.footer .footer__form-submit {
  background: var(--color-footer-submit);
  color: #fff;
  font-weight: bold;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.footer__content-box button {
  font-family: inherit;
}

.footer__content-box:hover i {
  display: block;
  transform: rotate(90deg);
  transition: all 0.3s;
}

.footer .footer__form-submit i {
  width: 100%;
  text-align: center;
  padding: 9px 0px;
}
footer p,
footer ul {
  color: var(--color-footer-subitem);
  margin-bottom: 10px;
}


.footer__content-box a:hover  {
  color: var(--color-footer-subitem-hover);
  font-weight: bold;
}

footer div h6{
  font-family: 'Roboto', sans-serif;
  font-size: var(--fz-h6-mob);
  font-weight: 100;
  background: var(--color-footer-bottom);
  height: 3em;
  text-align: center;
  padding: 9px;
  color: #fffffff6;
}

/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +900 --------------*/
/* -------------------------------*/
@media (min-width: 900px) {
  .footer__content-box + .footer__content-box {
    border-top: 0px;
  }
  .footer__collapse {
    display: block;
  }
  .footer__arrow-container {
    display: none;
  }
  .footer {
    padding-top: 34px;
    font-size: 13px;
    line-height: 16px;
    display: block;
  }
  .footer__top {
    padding-bottom: 27px;
    padding-top: 10px;
    overflow: hidden;
  }
  .footer__wrapper {
    max-width: 1024px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .footer__content-box {
    width:initial;
    display: inline-block;
    padding:0px;
  }
  .footer__content-box h4{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .footer__content-box h4 button{
    font-size: 13px;
    line-height: 17px;
    background: none;
    border: none;
    cursor: default
  }
  .footer__ul {
    padding: 4px 0;
  }
  .footer__content-box li {
    list-style: none;
    font-size: var(--fz-footer-li-box-dsk);
  }
  .footer__content-box a {
    color: var(--color-footer-subitem);
    line-height: 18px;
    font-size: var(--fz-footer-li-box-dsk);
  }
  .footer__form {
    height: 38px;
    display: flex;
  }
  .footer__form-mail,
  .footer__form input {
    width: 100%;
    display: block;
    height: 95%;
    flex-grow: 1;
    border: none;
    padding: 0 17px;
    font-size: var(--fz-footer-mail-box-dsk);
  }
  .footer .footer__form-submit {
    display: block;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +1010 -------------*/
/* -------------------------------*/
@media (min-width: 1024px) {
  /* Aquí algunos flex column pasan a row */
  /* para un modo desktop total           */
  .footer__top {
    padding-bottom: 27px;
    padding-top: 34px;
    overflow: hidden;
  }
  .footer__wrapper {
    max-width: 1360px;
    padding: 0 80px;
  }
  .footer__content-box {
    width: 164px;
    display: inline-block;
  }
  .footer__content-box h4 {
    font-size: var(--fz-footer-h4-box-dsk);
  }
  .footer__ul {
    padding: 0;
    margin:0;
  }
  .footer__content-box li {
    font-size: var(--fz-footer-li-box-dsk);
    font-size: 15px;
  }
  .footer__content-box:hover i {
    transform: rotate(0deg);
  }
  .footer__content-box a {
    line-height: 22px;
    font-size:var(--fz-footer-li-box-dsk);
    font-size: 15px;
  }
  .footer__content-box h4 button {
    font-size: 16px;
  }
  .footer__suscribe {
    width: 308px;
  }
}