/* --------------------------------*/
/* -- Vistas de Varios Productos --*/
/* --------------------------------*/
main.main-index {
    width: 90%;
    margin: auto;
    height: auto;
}

/* section.offers, y todas las */
/* sections vista de producto  */
main.main-index section.sec-last-tec,
main.main-index section.sec-offers,
div.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: baseline; */
    align-items: flex-start;
}

products-rows{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.last-search{
    display: flex;
    padding: 0px;
    
}

.image-row{
    width: 280px;
}

.row-article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
}

.row-article h4{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.row-article p.discount,
.row-article p.priceRow,
.row-article p.buttAgregarRow{
    align-self: flex-end;
}

.row-article p.priceRow{
    font-family: HandSean, sans-serif;
    font-size: var(--fz-dp-price-mob);
    color: var(--color-price-sell);
    font-weight: bolder;
}

main.main-index  section article{
    margin: 10px 0px;
}

section, 
main.main-index  section article img{
    width: 100%;
}

.product-box {
    height: 50px;
    background-color: white;
    margin-bottom: 40px;
}

img.product_img{
    padding: 0px 5px;
}

/* -------------------------------*/
/* ---- Detalles del Artículo ----*/
/* -------------------------------*/
main.main-index article div.main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    align-items: flex-start;
    padding: 15px;
}

main.main-index section div.products {
    width: 100%;
}

main.main-index article div.main-card-img {
    display: flex;
    justify-content: center;
    height: 220px;
    width: 100%;
}

div.main-card-img img.product_img {
    object-fit: contain;
}

#imagenPrevisualizacion{
    object-fit: contain;
    height: 33rem;
}

.linea-blanca{
    height: .5rem;
}


/* -------------------*/
/* ---- Descuemto ----*/
/* -------------------*/
main.main-index .discount {
    align-self: flex-end;
    text-align: right;
    font-size: var(--fz-discount-mob);
    color: var(--color-discount);
}


/* ----------------*/
/* ---- Precio ----*/
/* ----------------*/
main.main-index .price {
    font-size: var(--fz-price-mob);
    color: var(--color-price);
    align-self: center;
}
main.main-index .priceRow {
    color: var(--color-price);
}


/* ---------------------*/
/* ---- Descripción ----*/
/* ---------------------*/
main.main-index .description {
    /* display: "none"; */
    font-size: var(--fz-desc-mob);
    color: var(--color-description);
    margin-top: 20px;
    width: 90%;
}
main.main-index .description2 {
    display: "none";
    font-size: 0px;
    color: var(--color-description);
    width: 90%;
}



/* --------------*/
/* ---- Sell ----*/
/* --------------*/

span.sell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button.buttAgregar,
button.buttComprar{
    font-size: var(--fz-crtbtt-mob);
    width: 95%;
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
.bocadito-ghostcard,
    main.main-index section div.products article {
        width: 90%;
}

/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +440 --------------*/
/* -------------------------------*/
@media (min-width: 441px){
    /* Para la vista de productos modo mobile  */
    /* mostrando 1 producto por fila           */
    main.main-index section div.products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: flex-start; */
    }
    .bocadito-ghostcard,
    main.main-index section div.products article {
        width: 45%;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +640 --------------*/
/* -------------------------------*/
@media (min-width: 640px){
    /* Aquí pasamos los fonts a tamaño dsk     */
    /* También podría expandirse algún flex    */
    /*   También un control extra en flexs     */
    /*   de vista de varios productos          */
    .linea-blanca{
        height: 1rem;
    }
    h1{
        font-size: var(--fz-h1-dsk);
    }
    h5{
        font-size: var(--fz-h5-dsk);
        padding-bottom: 5px;
    }
    h6{
        font-size: var(--fz-h6-dsk);
    }
    [class^="titulo-"]{
        font-size: var(--fz-tittle-dsk);
    }
    p{
        font-size: var(--fz-p-dsk);
        padding-bottom: 8px;
    }
    .price {
        font-size: var(--fz-price-dsk);
    }
    .discount{
        font-size: var(--fz-discount-dsk);
    }
    main.main-index section article .description{
        font-size: var(--fz-desc-dsk);
    }
    main.main-index section article:hover .description{
        font-size: var(--fz-desc-dsk);
        font-weight: bold;
    }
    main.main-index section article:hover .description2{
        font-size: var(--fz-desc-dsk);
        font-weight: bold;
    }
    main.main-index section article button.buttAgregar,
    main.main-index section article button.buttAgregar2,
    main.main-index section article button.buttComprar{
        font-size: var(--fz-crtbtt-dsk);
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +769 --------------*/
/* -------------------------------*/
@media (min-width: 769px){
    /* Aquí controlamos que algunos elementos, */
    /*   ej. inputs no crezcan tanto,          */
    /*   También un control extra en flexs     */
    /*   de vista de varios productos          */
    .bocadito-ghostcard,
    main.main-index section div.products article {
        width: 22%;
    }
    main.main-index section div.products p.discount, .price{
        width: auto;
    }
    .linea-blanca{
        height: 0rem;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +1010 -------------*/
/* -------------------------------*/
@media (min-width: 1010px){
    /* Aquí algunos flex column pasan a row */
    /* para un modo desktop total           */
    .linea-blanca{
        height: 1.25rem;
    }
    .product-box {
        height: 100px;
        margin-bottom: 90px;
    }
}