/* -----------------------------------*/
/* -- Normalizando Estilos visuales --*/
/* -----------------------------------*/
:root{
    /* ------------------------ */
    /* -- Paletas de colores -- */
    /* ------------------------ */
    --color-body-back: #ebebeb;

    /* Header */
    --color-header-back: #3a0346;
    --color-item: black;
    --color-system-button-item: rgb(53, 11, 63);
    --color-system-button-i: rgb(21, 152, 195);
    --color-system-button-i: rgb(41, 8, 34);
    --color-system-button:#bab9bd;
    --color-system-button:#c9c9c9;
    --color-system-button-sel:#431194;
    --color-select-option-shdw: #2d125a;

    /* Search Bar */
    --color-search-back: white;

    /* Forms */
    --color-legend: #261042;
    --color-label: #453679af;
    --color-input-back: #ffffff;
    --color-input-border: rgba(99, 12, 240, 0.322);
    --color-input-border: rgba(92, 90, 95, 0.322);
    --color-input-item: rgb(39, 38, 51);
    --color-input-item-focus: #1b1a1b;
    --color-input-ok: #3a6b2d;
    --color-input-ok: #53124b;
    --color-input-ok-hover: #35911c;
    --color-input-ok-hover: #a51f93;
    --color-input-cancel: #5f5f5f;
    --color-input-cancel-hover: #1b1b47;
    --color-input-link: rgb(55, 70, 95);

    /* Tarjeta de Producto */
    --color-article-back: rgb(224, 224, 224);
    --color-article-border: #ebebeb;
    --color-article-title: rgb(38, 49, 68);
    --color-article-title-shdw: rgb(100,100,100);
    --color-discount: #54754a;
    --color-discount-hover: #208108;
    --color-discount-high: #39b54a;
    --color-price: #453679;
    --color-price-hover: #380ec0;
    --color-description: #18171f;
    --color-description-hover: #2716c7;
    --color-article-nfv: rgb(148, 147, 147);
    --color-article-fv: rgb(89, 0, 255);
    --color-button-plus-back: rgb(236, 236, 248);
    --color-button-plus: #52769c;
    --color-button-plus-sel: #ffffff;
    --color-button-plus-sel-bck: #0b5db4;
    --color-button-comp: rgb(28, 19, 110);
    --color-button-comp-sel: #ffffff;
    --color-button-comp-sel-bck: rgb(27, 19, 146);

    /* Product Detail */
    --color-cat: rgb(94, 75, 129);
    --color-prod: rgb(75, 75, 122);
    --color-desc: #1f011f;
    --color-iconitos: #4e4452;
    --color-iconitos: #2a3066;
    --color-price-sell: rgb(71, 30, 148);
    --color-price-tach: rgba(47, 10, 102, 0.322);
    --color-price-list: rgb(19, 143, 40);

    /* CC Bar */
    --color-bar-i: #cc98ce;
    --color-bar-0: rgb(96, 110, 170) 0%;
    --color-bar-18: rgb(99, 149, 158) 18%;
    --color-bar-30: rgb(143, 167, 197) 30%;
    --color-bar-45: rgb(126, 172, 132) 45%;
    --color-bar-63: rgb(189, 206, 142) 63%;
    --color-bar-80: rgb(104, 145, 128) 80%;
    --color-bar-90: rgb(218, 182, 115) 90%;
    --color-bar-100: rgb(155, 111, 145) 100%;

    /* Footer */
    --color-footer-submit: #5900ff5b;
    --color-footer-item: #4c20c7;
    --color-footer-subitem: #0e1d27;
    --color-footer-subitem-hover: #c01e9d;
    --color-footer-mailbox-bk: rgb(225, 230, 230);
    --color-footer-bottom: #130124;

    /* ------------------------------------------ */
    /* -- Mobile / Desktop font sizes Elements -- */
    /* ------------------------------------------ */
    --fz-h1-mob: 21px;
    --fz-h1-dsk: 25px;
    --fz-h3-mob: 22px;
    --fz-h3-dsk: 28px;
    --fz-h5-mob: 16px;
    --fz-h5-dsk: 20px;
    --fz-h6-mob: 15px;
    --fz-h6-dsk: 16px;
    --fz-p-mob: 14px;
    --fz-p-dsk: 16px;
    --fz-header-nav-item-mob: 18px;
    --fz-header-nav-item-mob: 20px;
    --fz-top-span-mob: 16px;
    --fz-tittle-mob: 22px;
    --fz-tittle-dsk: 30px;
    --fz-footer-h4-box-mob: 16px;
    --fz-footer-h4-box-dsk: 17px;
    --fz-footer-li-box-mob: 14px;
    --fz-footer-li-box-dsk: 13px;
    --fz-footer-mail-box-mob: 13px;
    --fz-footer-mail-box-dsk: 15px;

    /* Mobile / Desktop font sizes Form */
    --fz-form-searchV-mob: 30px;
    --fz-form-searchV-dsk: 35px;
    --fz-form-search-butt-mob: 16px;
    --fz-form-search-butt-dsk: 18px;
    --fz-form-search-mob: 14px;
    --fz-form-search-dsk: 16px;
    --fz-form-input-mob: 16px;
    --fz-form-input-dsk: 19px;
    --fz-form-legend-mob: 17px;
    --fz-form-legend-dsk: 19px;
    --fz-form-label-mob: 14px;
    --fz-form-label-dsk: 16px;
    --fz-form-link-mob: 18px;
    --fz-form-link-dsk: 20px;
    --fz-form-option-mob: 13px;
    --fz-form-option-dsk: 14px;

    /* Mobile / Desktop font sizes Tarjeta Producto */
    --fz-price-mob: 27px;
    --fz-price-dsk: 32px;
    --fz-discount-mob: 22px;
    --fz-discount-dsk: 23px;
    --fz-crtbtt-mob: 16px;
    --fz-crtbtt-dsk: 18px;
    --fz-desc-mob: 18px;
    --fz-desc-dsk: 18px;

    /* Mobile / Desktop font sizes Detalle Producto */
    --fz-dp-price-mob: 32px;
    --fz-dp-price-dsk: 36px;
    --fz-dp-pricelst-mob: 22px;
    --fz-dp-pricelst-dsk: 25px;
    --fz-dp-discount-mob: 18px;
    --fz-dp-discount-dsk: 20px;
    --fz-dp-crtbtt-mob: 16px;
    --fz-dp-crtbtt-dsk: 18px;
    --fz-dp-desc-mob: 14px;
    --fz-dp-desc-dsk: 15px;
    --fz-dp-cat-mob: 16px;
    --fz-dp-cat-dsk: 18px;
    --fz-dp-prod-mob: 24px;
    --fz-dp-prod-dsk: 28px;
    --fz-dp-icns-mob: 21px;
    --fz-dp-icns-dsk: 25px;
    --fz-dp-icnst-mob: 13px;
    --fz-dp-icnst-dsk: 15px;
}


/* General clear*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    box-sizing: border-box;
}


/* Mains */
[class^="main-"],
[class*="-main"]{
    max-width: 1010px;
}


/* Body */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-body-back);
}


/* Encabezados */
h1{
    font-size: var(--fz-h1-mob);
}

[class^="titulo-"]{
    font-size: var(--fz-tittle-mob);
    font-family: Coolvetica, BauerRegular, 'Roboto', sans-serif;
    color: var(--color-article-title);
}

h5{
    font-size: var(--fz-h5-mob);
    padding-bottom: 5px;
}

h6{
    font-size: var(--fz-h6-mob);
    padding-top: 5px;
}

/* Textos */
p{
    font-size: var(--fz-p-mob);
    padding-bottom: 8px;
}

/* -----------------------------------*/
/* ------------ Header ---------------*/
/* -----------------------------------*/
.container-header{
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

/* -----------------------------------*/
/*--------- Product Detail -----------*/
/* -----------------------------------*/
.container-products-wrapper{
    background: #d6d6d6;
    background: -webkit-linear-gradient(to right, #f3f3f3, #d6d6d6);
    background: linear-gradient(to right, #f3f3f3, #d6d6d6);
    margin: 45px 0px 0px 0px;
    color: val(--color-desc);
}
/* Categoría */
.products-title{
    padding: 8px 5px 5px 10px;
    color: var(--color-cat);
    font-family: BauerRegular, 'Roboto', sans-serif;
    font-size: var(--fz-dp-cat-mob);
}
/* Producto */
.product-detail-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: var(--fz-dp-prod-mob);
    color: var(--color-prod);
}
/* Precio */
.product-detail-price{
    margin: 10px 0;
    font-family: HandSean, 'Roboto', sans-serif;
    text-align: center;
    font-size: var(--fz-dp-price-mob);
    margin: 10px 0px 30px;
    color: var(--color-price-sell);
}
p.product-detail-description{
    background: #e2f7f8b4;
    background: -webkit-linear-gradient(to left, #f3f3f3, #e2f7f8b4);
    background: linear-gradient(to left, #ffffff, #e7e7e7b4);
    font-size: var(--fz-dp-desc-mob);
    line-height: 1.5;
    padding: 25px 20px 15px 25px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-input-itemr);
}

/* -----------------------------------------*/
/* -------- Forms Login / Register  --------*/
/* -----------------------------------------*/
.login-access,
.register-profile{
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #b0abba);
    background: linear-gradient(to right, #ffffff, #b0abba);
}
.login-access{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.container-users{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
legend{
    font-family: BauerRegular, 'Roboto', sans-serif;
}
label{
    font-family: BauerRegular, DanielBK, BauerRegular, 'Roboto', sans-serif;
} 
.container-link a{
    font-family: DanielBK, 'Roboto', sans-serif;
    font-size: var(--fz-form-link-mob);
    color: var(--color-price);
}
p#link a{
    font-size: var(--fz-form-search-butt-mob);
}
#IniSesion{
    font-family: BauerRegular, 'Roboto', sans-serif;
    color: var(--color-input-link);
}
#IniSesion:hover{
    color: var(--color-input-ok-hover);
}
#FrgtPass{
    font-family: DanielBK, 'Roboto', sans-serif;
    color: var(--color-input-link);
    font-size: var(--fz-form-link-mob);
}
#FrgtPass:hover{
    color: var(--color-input-ok-hover);
}
#button-in,
#button-reset,
#button-register{
    font-family: BauerRegular, HandSean, 'Roboto', sans-serif;
    font-size: var(--fz-link-mob);
    color: var(--color-system-button-item);
    width: 45%;
    padding: 2px 0px;
}
#button-in{
    color: var(--color-input-ok);
}
#button-in:hover{
    color: var(--color-input-ok-hover);
    box-shadow: 0px 2px 4px var(--color-select-option-shdw);
}
#button-reset{
    color: var(--color-input-cancel);
}
#button-reset:hover{
    color: var(--color-input-cancel-hover);
    box-shadow: 0px 2px 4px var(--color-select-option-shdw);
}
#button-register{
    color: var(--color-input-ok);
}
#button-register:hover{
    color: var(--color-input-ok-hover);
    box-shadow: 0px 2px 4px var(--color-select-option-shdw);
}
input:not([type="submit"],[type="search"],[type="radio"],[type="checkbox"])
{ 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--color-input-item);
    background-color: var(--color-input-back);
    border: none;
}
input:not([type="submit"],[type="search"],[type="radio"],[type="checkbox"]):focus
{   
    color: var(--color-input-item-focus);
    border: 3px solid var(--color-input-border);
}

/* -----------------------------*/
/* ---------- Buttons ----------*/
/* -----------------------------*/
button{
    font-family: Bitsumishi, 'Roboto', sans-serif;
    background-color: rgb(236, 236, 248);
    color: var(--color-button-plus);
    border: 2px solid var(--color-article-back);
    box-shadow: 0px 1px 2px var(--color-select-option-shdw);
    border-radius: 7px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 3px 9px;
    margin-top: 5px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    transition: all ease .2s;
    -moz-transition: all ease .2s;
    -webkit-transition: all ease .2s;
}


/* ---------------------*/
/* ------- Card --------*/
/* ---------------------*/
article.last-tec, article.offers{
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #baabab);
    background: linear-gradient(to right, #ffffff, #c8caca);
}

main.main-index article div.main-card-img{
    background-color: white;
}

main.main-index article div.main-article{
    border-top: 0px 1px 1px 1px solid var(--color-article-border);
}

main section article{
    box-shadow: 0px 0px 10px var(--color-article-title-shdw);
}

main.main-index .price {
    font-family: HandSean, 'Roboto', sans-serif;
    font-weight: bolder;
}

main.main-index .discount{
    font-family: Bitsumishi, 'Roboto', sans-serif;
}

main.main-index .description {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

button.buttAgregar{
    color: var(--color-button-plus);
}

button.buttComprar{
    color: var(--color-button-comp);
}


/* --------------------*/
/* ---- Card hover ----*/
/* --------------------*/
main.main-index section article:hover{
    box-shadow: 0px 0px 25px var(--color-article-title-shdw);
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #b6c7ba);
    background: linear-gradient(to right, #ffffff, #b6c7ba);
}
main.main-index section article:hover .price{
    color: var(--color-price-hover);
}
main.main-index section article:hover .discount{
    color: var(--color-discount-hover);
}
button.buttAgregar:hover{
    color: var(--color-button-plus-sel);
    background-color: var(--color-button-plus-sel-bck);
    box-shadow: 0px 2px 4px var(--color-select-option-shdw);
}
button.buttComprar:hover{
    color: var(--color-button-comp-sel);
    background-color: var(--color-button-comp-sel-bck);
    box-shadow: 0px 2px 4px var(--color-select-option-shdw);
}

main.main-index section article:hover .description{
    display: "block";
    color: var(--color-description-hover);
    font-size: var(--fz-desc-mob);
    margin-top: 20px;
    font-weight: bold;
    transition: 0.5s;
}

/* ------------------------*/
/* --- Layouts elements ---*/
/* ------------------------*/
.linea{ height: 1.15rem; }

.media-linea{ height: .6rem; }

.linea-blanca{ height: 1.15rem; background-color: white; }

.bocadito{ height: .1rem; width: .6rem; }

.linea_nav{ height: .1rem; }

.bocadito_nav{ height: .1rem; width: 1.5rem; }


/* -----------------------------------*/
/* ------------ RGB Bar --------------*/
/* -----------------------------------*/
.bar-rgbs{
    background: #ff0059;
    background: -webkit-linear-gradient(
45deg
,rgb(37, 3, 158) 0%,rgb(20, 142, 199) 18%,rgb(34, 3, 172) 30%,rgba(0,240,255,1) 45%,rgba(0,255,0,1) 63%,rgba(255,255,0,1) 80%,rgba(255,120,0,1) 90%,rgba(255,0,0,1) 100%);
background: -webkit-linear-gradient(
    45deg
    ,rgb(37, 3, 158) 0%,rgb(193, 20, 199) 18%,rgb(57, 22, 214) 30%,rgba(0,240,255,1) 45%,rgba(0,255,0,1) 63%,rgba(255,255,0,1) 80%,rgba(255,120,0,1) 90%,rgba(255,0,0,1) 100%);
    background-size: 400% 400%;
    height: 2px;
    position: relative;
}

.bar-ggr{
    z-index: 1;
    background: #707070;
    background: -webkit-linear-gradient(
45deg
,rgb(177, 177, 177) 0%,rgb(117, 117, 117) 18%,rgb(88, 88, 88) 30%,rgb(124, 124, 124) 45%,rgb(147, 148, 147) 63%,rgb(255, 255, 255) 80%,rgb(204, 203, 203) 90%,rgb(180, 178, 178) 100%);
    background: -moz-linear-gradient(45deg,rgb(177, 177, 177) 0%,rgb(117, 117, 117) 18%,rgb(88, 88, 88) 30%,rgb(124, 124, 124) 45%,rgb(147, 148, 147) 63%,rgb(255, 255, 255) 80%,rgb(204, 203, 203) 90%,rgb(180, 178, 178) 100%);
    background: -ms-linear-gradient(45deg,rgb(177, 177, 177) 0%,rgb(117, 117, 117) 18%,rgb(88, 88, 88) 30%,rgb(124, 124, 124) 45%,rgb(147, 148, 147) 63%,rgb(255, 255, 255) 80%,rgb(204, 203, 203) 90%,rgb(180, 178, 178) 100%);
    background: -o-linear-gradient(45deg,rgb(177, 177, 177) 0%,rgb(117, 117, 117) 18%,rgb(88, 88, 88) 30%,rgb(124, 124, 124) 45%,rgb(147, 148, 147) 63%,rgb(255, 255, 255) 80%,rgb(204, 203, 203) 90%,rgb(180, 178, 178) 100%);
    background: linear-gradient(
45deg
,rgb(177, 177, 177) 0%,rgb(117, 117, 117) 18%,rgb(88, 88, 88) 30%,rgb(124, 124, 124) 45%,rgb(147, 148, 147) 63%,rgb(255, 255, 255) 80%,rgb(204, 203, 203) 90%,rgb(180, 178, 178) 100%);
    background-size: 400% 400%;
    animation: ggrBg 20s linear infinite;
    -moz-animation: ggrBg 20s linear infinite;
    -webkit-animation: ggrBg 20s linear infinite;
    height: 3px;
    position: relative;
}

#gg-bar::before {
    content: '';
    width: 0;
    transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;
}

@keyframes ggrBg {
0% { background-position: 400% 0%; }
100% { background-position: 0% 400%; }
}


.bar-ccb{
    z-index: 1;
    background: var(--color-bar-i);
    background: -webkit-linear-gradient(
45deg
,var(--color-bar-0),var(--color-bar-18),var(--color-bar-30),var(--color-bar-45),var(--color-bar-63),var(--color-bar-80),var(--color-bar-90),var(--color-bar-100));
    background: -moz-linear-gradient(45deg,var(--color-bar-0),var(--color-bar-18),var(--color-bar-30),var(--color-bar-45),var(--color-bar-63),var(--color-bar-80),var(--color-bar-90),var(--color-bar-100));
    background: -ms-linear-gradient(45deg,var(--color-bar-0),var(--color-bar-18),var(--color-bar-30),var(--color-bar-45),var(--color-bar-63),var(--color-bar-80),var(--color-bar-90),var(--color-bar-100));
    background: -o-linear-gradient(45deg,var(--color-bar-0),var(--color-bar-18),var(--color-bar-30),var(--color-bar-45),var(--color-bar-63),var(--color-bar-80),var(--color-bar-90),var(--color-bar-100));
    background: linear-gradient(
45deg
,var(--color-bar-0),var(--color-bar-18),var(--color-bar-30),var(--color-bar-45),var(--color-bar-63),var(--color-bar-80),var(--color-bar-90),var(--color-bar-100));
    background-size: 400% 400%;
    animation: ccbBg 20s linear infinite;
    -moz-animation: ccbBg 20s linear infinite;
    -webkit-animation: ccbBg 20s linear infinite;
    height: 3px;
    position: relative;
}

#cc-bar::before {
    content: '';
    width: 0;
    transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;
}

@keyframes ccbBg {
0% { background-position: 400% 0%; }
100% { bacounkgrd-position: 0% 400%; }
}

/* -------------------------*/
/* -------- Like  ----------*/
/* -------------------------*/
label.fv{
    width: auto;
    height: auto;
}

#ossm{
    display: none;
}

input[type=checkbox] + label.fv{
    color: var(--color-article-nfv);
} 

input[type=checkbox]:checked + label.fv{
    color: var(--color-article-fv);
}

main.main-index section article span.i-fv i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: var(--color-article-back);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -15px;
    text-align: center;
}