/* --------------------------------*/
/* -- Vistas de Varios Productos --*/
/* --------------------------------*/
main{
    width: 95%;
    margin: 0 auto;
}

/* -------------------------------*/
/* ---- Detalles del Artículo ----*/
/* -------------------------------*/
/*====== Product Detail ======*/

.product-detail{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    /* overflow: hidden; */
}

.product-detail-img{
    width: 70%;
    display: block;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
}

.product-detail-info{
    color: var(--color-description-hover);
    padding: 25px 15px 15px 25px;
    height: 100%;
}

.small {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fz-dp-discount-mob);
    color: var(--color-price-list);
    margin: 50px 15px 10px 0px;
}

.tach {
    font-family: HandSean, sans-serif;
    font-size: var(--fz-dp-pricelst-mob);
    color: var(--color-price-tach);
    font-weight: bold;
    text-decoration:line-through;
    align-self: center;
}

.off {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fz-dp-discount-mob);
    font-weight: bold;
}

.actions-list {
    margin: 5px;
}
.actions-list li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 10px 0;
}
.actions-list i {
    color:  var(--color-iconitos);
    font-size: var(--fz-dp-icns-mob);
    margin-right: 15px;
}
.actions-list li p{
    font-size: var(--fz-dp-icnst-mob);
}

.buy-now-button{
    border-radius: 7px;
    display: block;
    text-align: center;
    padding: 10px;
    width: 80%;
    background-color: #3987fc;
    color: white;
    margin-bottom: 15px;
}

.butons{
    display: flex;
    flex-direction: column;
    margin: 5px 5px 20px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}


.create{
    background-color: rgb(36, 102, 42);
    color: var(--color-button-plus-sel);
    border-radius: 7px;
    border: solid 1px #bfc2c2b4;
    text-align: center;
    padding: 10px 30px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fz-crtbtt-mob);
}

.edit{
    background-color: rgb(155, 98, 34);
    color: var(--color-button-plus-sel);
    border-radius: 7px;
    border: solid 1px #bfc2c2b4;
    text-align: center;
    padding: 10px 30px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fz-crtbtt-mob);
}

.delete{
    background-color: rgb(114, 46, 46);
    color: var(--color-button-plus-sel);
    border-radius: 7px;
    border: solid 1px #bfc2c2b4;
    height: 88%;
    text-align: center;
    padding: 8px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fz-crtbtt-mob);
    width: 100%;
}

@media (max-width: 361px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .product-detail-img{
        width: 100%;
        display: block;
        margin: auto;
    }
}

/* -----------------------------*/
/* ---- Formulario de Carga ----*/
/* -----------------------------*/
.row,
.container-products-wrapper{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.form-crud-wrap{
    margin: 0 auto;
}

div.form-crud h3 form,
legend {
    margin: 15px 15px;
}
fieldset {
    border-radius: 12px;
}

.form-label{
    font-family: DanielBK, sans-serif;
}

.row-product-detail{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 90%;
}

.form-crud-mt{
    margin: 0 auto;
    height: auto;
    width: 100%;
}

div.form-crud {
    display: inline-block;
    font-size: var(--fz-form-label-mob);
    color: var(--color-label);
    padding-bottom: 5px;
}


div.form-crud .form-input
{
    display: block;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.2em;
    border-radius: 8px;
    color: var(--color-input-item);
}

div.form-crud textarea.form-input {
    min-height: 12em;
    resize: vertical;
    padding: 15px;
}

.form-crud-m1,
.form-crud-m2,
.form-crud-m3  {
    width: 100%;
    padding: 15px;
}

.form-crud {
    flex: 0 0 50%;
    padding: 15px;
}

.form-crud-mt {
    width: 100%;
}

.img-detail{
    width: 100%;
}

#but {
    justify-content: space-around;
}

div.buttons-block {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
}

.button-form {
    width: auto;
    margin: 3px;
    padding: 8px 30px 8px 30px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-button-form);
    font-family: DanielBK, sans-serif;
}

#cancel {
    color: rgb(70, 70, 70);
}

#ok {
    color: #0f095c;
}

#ok:hover {
    color: #1507df;
    background-color: rgb(188, 188, 189);
}

#cancel:hover {
    color: rgb(15, 15, 15);
    background-color: rgb(188, 188, 189);
}





/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +769 --------------*/
/* -------------------------------*/
@media (min-width: 769px){
    .products-title{
        font-size: var(--fz-dp-cat-dsk);
    }
    .product-detail-title{
        font-size: var(--fz-dp-prod-dsk);
    }
    p.product-detail-description{
        font-size: var(--fz-dp-desc-dsk);
    }
    .product-detail-price{
        font-size: var(--fz-dp-price-dsk);
    }
    .small{
        font-size: var(--fz-dp-discount-dsk);
    }
    .tach{
        font-size: var(--fz-dp-pricelst-dsk);
    }
    .off{
        font-size: var(--fz-dp-discount-dsk);
    }
    .actions-list i{
        font-size: var(--fz-dp-icns-dsk);
    }
    .actions-list li p{
        font-size: var(--fz-dp-icnst-dsk);
    }
}

/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +960 --------------*/
/* -------------------------------*/
@media (min-width: 960px){
    .row-product-detail{
        flex-direction: row;
        width: 100%;
    }
    div.form-crud h3 form{
        margin: 15px 0px 5px;
    }
    legend{
        margin: 15px 30px;
    }
    div.form-crud .form-input {
        display: block;
        width: 100%;
        height: 35px;
        margin-bottom: 8px;
        border-radius: 7px;
        padding: 0 15px;
    }
    div.form-crud textarea.form-input {
        min-height: 14em;
        padding: 10px;
    }
    .form-crud-m1 {
        min-width: 70%;
    }
    .form-crud-m2 {
        max-width: 30%;
    }
    .form-crud-m3 {
        max-width: 33.3%;
    }
    .img-detail{
        width: 95%;
    }
    
}
