:root{
    /* ------------------------ */
    /* -- Paletas de colores -- */
    /* ------------------------ */
    --color-body-back: #ebebeb;

    /* Header */
    --color-header-back: #3a0346;
    --color-item: black;
    --color-system-button-item: rgb(82, 17, 99);
    --color-system-button:#bab9bd;
    --color-system-button-sel:#431194;
    --color-select-option-shdw: #2d125a;

    /* Search Bar */
    --color-search-back: white;

    /* Forms */
    --color-input-back: #dfdddd;
    --color-input-border: rgb(18, 10, 126);
    --color-input-item: #666;

    /* Tarjeta de Producto */
    --color-article-back: rgb(224, 224, 224);
    --color-article-border: #ebebeb;
    --color-article-title: rgb(27, 13, 224);
    --color-article-title-shdw: rgb(100,100,100);
    --color-discount: #208108;
    --color-price: #464343;
    --color-description: #2d20a7;
    --color-article-cart: #8b1255;
    --color-article-nfv: rgb(148, 147, 147);
    --color-article-fv: rgb(89, 0, 255);
    --color-button-plus-back: rgb(236, 236, 248);
    --color-button-plus: #0263ca;
    --color-button-plus-sel: #ffffff;
    --color-button-plus-sel-bck: #0263ca;
    --color-button-comp: rgb(18, 10, 126);
    --color-button-comp-sel: #ffffff;
    --color-button-comp-sel-bck: rgb(18, 10, 126);
    
    /* Footer */
    --color-footer-back: rgb(21, 8, 29);
    --color-footer-item: var(--color-item);
    --color-footer-item-select: var(--color-select-option);

    /* ------------------------------------------ */
    /* -- Mobile / Desktop font sizes Elements -- */
    /* ------------------------------------------ */
    --fz-h1-mob: 21px;
    --fz-h1-dsk: 25px;
    --fz-h3-mob: 20px;
    --fz-h3-dsk: 24px;
    --fz-h5-mob: 16px;
    --fz-h5-dsk: 20px;
    --fz-h6-mob: 15px;
    --fz-h6-dsk: 16px;
    --fz-p-mob: 14px;
    --fz-p-dsk: 16px;
    --fz-header-nav-item-mob: 18px;
    --fz-header-nav-item-mob: 20px;
    --fz-top-span-mob: 16px;

    /* Mobile / Desktop font sizes Form */
    --fz-form-search-mob: 14px;
    --fz-form-input-mob: 14px;
    --fz-form-label-mob: 14px;
    --fz-form-label-dsk: 15px;
    --fz-form-option-mob: 13px;
    --fz-form-option-dsk: 14px;

    /* Mobile / Desktop font sizes Tarjeta Producto */
    --fz-price-mob: 26px;
    --fz-price-dsk: 32px;
    --fz-discount-mob: 17px;
    --fz-discount-dsk: 19px;
    --fz-crtbtt-mob: 16px;
    --fz-crtbtt-dsk: 18px;
    --fz-desc-mob: 18px;
    --fz-desc-dsk: 18px;
}

/* id deseables para inputs de forms */
/*
#nya
#usr
#e-m
#psw
#pswr
#pic
*/


/* General clear*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    box-sizing: border-box;
}


/* Body */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-body-back);
}


/* Encabezados */
h1{
    font-size: var(--fz-h1-mob);
}

main h3{
    font-size: var(--fz-h3-mob);
    font-family: BauerRegular, 'Roboto', sans-serif;
}

h5{
    font-size: var(--fz-h5-mob);
    padding-bottom: 5px;
}

h6{
    font-size: var(--fz-h6-mob);
    padding-top: 5px;
}

/* Textos */
p{
    font-size: var(--fz-p-mob);
    padding-bottom: 8px;
}



/* -----------------------------------*/
/* ------------ Header ---------------*/
/* -----------------------------------*/


div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
} 


/* -------------------------------*/
/* ----------- logo --------------*/
/* -------------------------------*/



/* -------------------------------*/
/* --------- Search Bar  ---------*/
/* -------------------------------*/
form.form-search{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 1%;
}

header .form-search .submit-search{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 3px 3px 3px 5px;
    font-size: 16px;
    background-color: var(--color-search-back);
    border: solid 1px var(--color-select-border);
    color: var(--color-input-item);
    width: auto;
}

header .form .submit{
    padding: 0px 0px 0px 5px;
    font-size: 16px;
    color: var(--color-input-item);
    width: 10%;
}



/* ----------------------------*/
/* --------- Top Nav ----------*/
/* ----------------------------*/



/* ----------------------------*/
/* ------- Burguer Menu -------*/
/* ----------------------------*/



/* ---------------*/
/* --- Banners ---*/
/* ---------------*/





/* ----------------------------*/
/* ------ Form Registro -------*/
/* ----------------------------*/




/* ------------------------------*/
/* -- Form Login y otros Forms --*/
/* ------------------------------*/



/* --------------------------------*/
/* -- Vistas de Varios Productos --*/
/* --------------------------------*/
main.main-index {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

main.main-index  section h3{
    margin: 20px 0px;
}

main.main-index  section article{
    background-color: var(--color-section-article-back);  
    margin: 10px 0px;
}

section, main.main-index  section article img{
    width: 100%;
}

/* section.offers, y todas las */
/* sections vista de producto  */
main.main-index section.last-tec,
main.main-index section.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.main-index h3 {
    color: var(--color-article-title);
}

/* -------------------------------*/
/* ---- Detalles del Artículo ----*/
/* -------------------------------*/
main.main-index article div.main-card-img {
    display: flex;
    justify-content: center;
    height: 220px;
    width: 100%;
}

div.main-card-img img.product_img {
    padding: 1px;
    object-fit: contain;
}


main.main-index article div.main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 15px;
}


/* ----------------*/
/* ---- Precio ----*/
/* ----------------*/
main.main-index .price {
    font-size: var(--fz-price-mob);
    color: var(--color-price);
    align-self: center;
    /* width: 30%; */
}


/* -------------------*/
/* ---- Descuemto ----*/
/* -------------------*/
main.main-index,
main.main-index .discount {
    width: 90%;
    align-self: flex-end;
}

section article span.i-cart{
    color: var(--color-article-cart);
}

main.main-index .discount {
    font-size: var(-fz-discount-mob);
    color: var(--color-discount);
}


/* descripción normal */
main.main-index .description {
    display: "none";
    font-size: 0px;
    color: var(--color-article-back);
}



/* descripción hover */
/* descripción show */
/* article:hoverF */
main.main-index section article .description{
    display: "block";
    position: absoute;
    color: var(--color-description);
    font-size: var(--fz-desc-mob);
    margin-top: 20px;
    transition: 0.5s;
}


/* --------------*/
/* ---- Sell ----*/
/* --------------*/

span.sell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button.buttAgregar{
    display: block;
    font-size: var(--fz-crtbtt-mob);
    width: 95%;
}


button.buttAgregar:hover{
    color: var(--color-button-plus-sel);
    background-color: var(--color-button-plus-sel-bck);
}

button.buttComprar{
    display: block;
    color: var(--color-button-comp);
    font-size: var(--fz-crtbtt-mob);
    width: 95%;
    color:rgb(18, 10, 126);
    
}

button.buttComprar:hover{
    color: var(--color-button-comp-sel);
    background-color: var(--color-button-comp-sel-bck);
}


/*
main.main-index section article span.i-cart i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: auto;
    height: auto;
    text-align: center;
}
*/

/* -------------------------------*/
/* ------- Pie de Página ---------*/
/* -------------------------------*/
footer{
    padding: 5%;
    background-color: var(--color-footer-back);
    margin-top: 15px;
}

h6{
    color: var(--color-discount);
}





/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/

main.main-index article div.main-article {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- -250 --------------*/
/* -------------------------------*/
@media (min-width: 250px){
    /* Modo mobile, mínima expresión */
    main.main-index section article:hover .description2 {
        display: inline;
    }
    main.main-index article div.main-article {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main.main-index .discount {
        text-align: center;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +440 --------------*/
/* -------------------------------*/
@media (min-width: 441px){
    /* Para la vista de productos modo mobile  */
    /* mostrando 1 producto por fila           */
    main.main-index section article:hover .description2 {
        display: inline;
    }

    main.main-index article div.main-article {
        flex-direction: column;
    }


    main.main-index section div.products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-between;;
    }

    main.main-index section div.products article {
        width: 45%;
    }

    main.main-index .price,
    main.main-index .discount {
        width: 50%;
    }

    /* ----------Nerea ------------*/

}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +640 --------------*/
/* -------------------------------*/
@media (min-width: 640px){
    /* Aquí pasamos los fonts a tamaño dsk     */
    /* También podría expandirse algún flex    */
    /*   También un control extra en flexs     */
    /*   de vista de varios productos          */
    main.main-index article div.main-article {
        flex-wrap: wrap;
        flex-direction: row;
    }

    h1{
        font-size: var(--fz-h1-dsk);
    }
    h3{
        font-size: var(--fz-h3-dsk);
    }
    h5{
        font-size: var(--fz-h5-dsk);
        padding-bottom: 5px;
    }
    h6{
        font-size: var(--fz-h6-dsk);
    }
    p{
        font-size: var(--fz-p-dsk);
        padding-bottom: 8px;
    }
    .price {
        font-size: var(--fz-price-dsk);
    }
    .discount{
        font-size: var(--fz-discount-dsk);
    }
    main.main-index section article:hover .description{
        font-size: var(--fz-desc-dsk);
    }
    main.main-index section article button.buttAgregar{
        font-size: var(--fz-crtbtt-dsk);
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +769 --------------*/
/* -------------------------------*/
@media (min-width: 769px){
    /* Aquí controlamos que algunos elementos, */
    /*   ej. inputs no crezcan tanto,          */
    /*   También un control extra en flexs     */
    /*   de vista de varios productos          */
    main.main-index article div.main-article {
        flex-direction: column;
    }
    main.main-index section div.products article {
        width: 22%;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +1010 -------------*/
/* -------------------------------*/
@media (min-width: 1010px){
    /* Aquí algunos flex column pasan a row */
    /* para un modo desktop total           */

    /* main.main-index article div.main-article { */
        /* flex-direction: row; */
    /*} */
    main.main-index{
        width: 1010px;
    }

}