:root{
    /* ------------------------ */
    /* -- Paletas de colores -- */
    /* ------------------------ */
    --color-body-back: #ebebeb;

    /* Header */
    --color-header-back: #3a0346;
    --color-item: black;
    --color-system-button-item: white;
    --color-system-button:#140a6d;

    /* Search Bar */
    --color-search-back: white;

    /* Forms */
    --color-input-back: #dfdddd;
    --color-input-border: rgb(18, 10, 126);
    --color-input-item: #666;

    /* Tarjeta de Producto */

    --color-article-back: white;
    --color-article-border: #ebebeb;
    --color-article-title: #666;
    --color-article-title-shdw: rgb(100,100,100);
    --color-discount: #830f92;
    --color-article-cart: #33128b;

    /* Footer */
    --color-footer-back: rgb(21, 8, 29);
    --color-footer-item: var(--color-item);
    --color-footer-item-select: var(--color-select-option);

    /* ------------------------------------------ */
    /* -- Mobile / Desktop font sizes Elements -- */
    /* ------------------------------------------ */
    --fz-h1-mob: 21px;
    --fz-h1-dsk: 25px;
    --fz-h3-mob: 20px;
    --fz-h3-dsk: 25px;
    --fz-h5-mob: 16px;
    --fz-h5-dsk: 20px;
    --fz-h6-mob: 15px;
    --fz-h6-dsk: 16px;
    --fz-p-mob: 14px;
    --fz-p-dsk: 16px;
    --fz-header-nav-item-mob: 18px;
    --fz-header-nav-item-mob: 20px;
    --fz-top-span-mob: 16px;

    /* Mobile / Desktop font sizes Form */
    --fz-form-search-mob: 14px;
    --fz-form-input-mob: 14px;
    --fz-form-label-mob: 14;
    --fz-form-label-dsk: 15;
    --fz-form-option-mob: 13;
    --fz-form-option-dsk: 14;

    /* Mobile / Desktop font sizes Tarjeta Producto */
    --fz-price-mob: 17;
    --fz-price-dsk: 19;
    --fz-discount-mob: 15;
    --fz-discount-dsk: 17;
    --fz-price-mob: 18;
    --fz-price-dsk: 20;
}

/* id deseables para inputs de forms */
/*
#nya
#usr
#e-m
#psw
#pswr
#pic
*/

/* General clear*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    box-sizing: border-box;
}

/* Para rellenar */
.linea{ height: .8rem; }

.media-linea{ height: .4rem; }

.bocadito{ height: .1rem; width: .5rem; }

/* Body */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-body-back);
}


/* Encabezados */
h1{
    font-size: var(--fz-h1-mob);
}
h3{
    font-size: var(--fz-h3-mob);
}

h5{
    font-size: var(--fz-h5-mob);
    padding-bottom: 5px;
}

h6{
    font-size: var(--fz-h6-mob);
    padding-top: 5px;
}

/* Textos */
p{
    font-size: var(--fz-p-mob);
    padding-bottom: 8px;
}


/* -----------------------------------*/
/* ------------ Header ---------------*/
/* -----------------------------------*/
header {
    background-color: var(--color-header-back);
    height: auto;
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
} 

/* -------------------------------*/
/* ----------- logo --------------*/
/* -------------------------------*/


/* -------------------------------*/
/* --------- Search Bar  ---------*/
/* -------------------------------*/
form.form-search{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 1%;
}


header .form-search .submit-search{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 3px 3px 3px 5px;
    font-size: 16px;
    background-color: var(--color-search-back);
    border: solid 1px var(--color-select-border);
    color: var(--color-input-item);
    width: auto;
}

header .form .submit{
    padding: 0px 0px 0px 5px;
    font-size: 16px;
    color: var(--color-input-item);
    width: 10%;
}



/* ----------------------------*/
/* --------- Top Nav ----------*/
/* ----------------------------*/



/* ----------------------------*/
/* ------- Burguer Menu -------*/
/* ----------------------------*/




/* ---------------*/
/* --- Banners ---*/
/* ---------------*/




/* ----------------------------*/
/* ------ Form Registro -------*/
/* ----------------------------*/




/* ------------------------------*/
/* -- Form Login y otros Forms --*/
/* ------------------------------*/



/* --------------------------------*/
/* -- Vistas de Varios Productos --*/
/* --------------------------------*/
main.main-index {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

main.main-index  section h3{
    margin: 20px 0px;
}

main.main-index  section article{
    background-color: var(--color-section-article-back);    
    margin: 10px 0px;
}

main.main-index  section article img{
    width: 100%;
}

/* section.offers, y todas las */
/* sections vista de producto  */
main.main-index section.last-tec,
main.main-index section.offers{
    display: flex;
    flex-wrap: wrap;
}



/* -------------------------------*/
/* ---- Detalles del Artículo ----*/
/* -------------------------------*/
main.main-index article div.main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid var(--color-article-border);
    background-color: var(--color-article-back);
    position: relative;
    padding: 15px;
}

main section article {
    box-shadow: 0px 0px 10px var(--color-article-title-shdw);
}


main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


/* ----------------*/
/* ---- Precio ----*/
/* ----------------*/
main.main-index .price {
    font-size: 18px;
    width: 30%;
}


/* -------------------*/
/* ---- Descuemto ----*/
/* -------------------*/
main.main-index,
main.main-index .discount {
    width: 70%;
    color: var(--color-discount);
}

section article i{
    width: 70%;
    color: var(--color-article-cart);
}

main.main-index .discount {
    font-size: 16px;
    font-weight: normal;
}

main.main-index h3 {
    color: var(--color-article-title);
}


/* descripción hide */
main.main-index .description {
    display: "none";
    color: var(--color-article-back);
    font-size: 0px;
    font-weight: normal;
}

/* descripción show */
main.main-index section article:hover .description {
    display: "block";
    color: var(--color-article-title);
    font-size: 16px;
    margin-top: 20px;
    transition: 0.5s;
}


main.main-index section article:hover {
    box-shadow: 0px 0px 25px var(--color-article-title-shdw);
}

/* -------------------*/
/* ---- Favoritos ----*/
/* -------------------*/
main.main-index section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-article-cart);
    background-color: var(--color-article-back);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main.main-index section article:hover i {
    transition: transform 0.8s;
    transform: rotate(-90deg);
}



/* -------------------------------*/
/* ------- Pie de Página ---------*/
/* -------------------------------*/


h6{
    color: var(--color-discount);
}

/* ---------------------------------------------*/
/* ------- Formulario Login y Register----------*/
/* --------------------------------------------*/
/*MAIN */

.container-main {
    margin: 0 auto;
    width: 90%;
  }
  
  .title {
    text-align: center;
    color: #666;
    margin: 15px 0px;
  }
  
  .container-users {
    margin-top: 30px;
    margin-bottom: 32px;
  }
  
  .register h5 {
    color: #4f4f4f;
  }

  .register-profile,
  .register-interests,
  .login-access{
    padding: 16px;
    margin:15px auto;
    border-color: rgba(29, 27, 27, 0.322);
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  legend{
<<<<<<< HEAD
    font-size: 22.4px;
=======
    font-size: 16px;
>>>>>>> register
    color: rgba(34, 33, 33, 0.63);  
  }
  
  label {
    font-weight: 600;
    padding-bottom: 5px;
    display: block; 
    cursor: pointer;
  } 
<<<<<<< HEAD
=======

  .titulo-registro{
      font-size: var(--fz-h3-mob);
      text-align: center;
  }
>>>>>>> register
  
  /* Deselecciona un elemento en espesifico para no aplicar estilos */
   input:not([type="submit"],[type="search"],[type="radio"],[type="checkbox"])
  {    
    padding: 16px;
    display: block;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="radio"],[type="checkbox"]{
    margin: 5px;
    cursor: pointer;
  }
  
  .user-profile{
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    padding: 15px 20px 15px 
  }

  .container-buttons{
    display:flex;
    justify-content:space-evenly;
  }

  p#texto{
      text-align: center;
      color:white;
  }
  
  div#button-form,
  #button-form-login{
      position:relative;
      margin:10px;
      padding:10px;
      width:100%;
      height: 35px;
      background-color: #3a0346;
      border-radius:5px;
      box-shadow:0px 3px 0px #180017;
      text-align: center;
  }
  
  input#button-register,
  #button-reset,
  #button-login{
      position:absolute;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      width:100%;
      height:100%;
      opacity: 0;
      cursor: pointer;
  }
  
  .container-link a{
    text-decoration: none;
    color:#3a0346;
  }
  
  #link{
    text-align: center;
  }
  
  @media (min-width: 768px) {
   
    legend{
      font-size: 2rem;
          
    }
    label {
      font-weight: 600;
      font-size: 18px;
    }

    .user-profile{
      display:inline-flex;
      
     }
    .shop-sales{
      margin: 0px 71px 0px 0px
    }
    p#texto{
      font-size: 20px;
    }
<<<<<<< HEAD
=======
    .titulo-registro{
        font-size: var(--fz-h3-dsk);
        text-align: center;
    }
>>>>>>> register
  }
  
  /*FIN MAIN */



/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/

main.main-index article div.main-article {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- -250 --------------*/
/* -------------------------------*/
@media (min-width: 250px){
    /* Modo mobile, mínima expresión */
    main.main-index section article:hover .description2 {
        display: inline;
    }
    main.main-index article div.main-article {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main.main-index .discount {
        text-align: center;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +360 --------------*/
/* -------------------------------*/
@media (min-width: 361px){
    /* Para la vista de productos modo mobile  */
    /* mostrando 1 producto por fila           */
    main.main-index section article:hover .description2 {
        display: inline;
    }

    main.main-index article div.main-article {
        flex-direction: column;
    }


    main.main-index section div.products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main.main-index section div.products article {
        width: 45%;
    }

    main.main-index .price,
    main.main-index .discount {
        width: 50%;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +500 --------------*/
/* -------------------------------*/
@media (min-width: 500px){
    /* Aquí pasamos los fonts a tamaño dsk     */
    /* También podría expandirse algún flex    */
    /*   También un control extra en flexs     */
    /*   de vista de varios productos          */
    main.main-index article div.main-article {
        flex-wrap: wrap;
        flex-direction: row;
    }

    h1{
        font-size: var(--fz-h1-dsk);
    }
    h3{
        font-size: var(--fz-h3-dsk);
    }
    h5{
        font-size: var(--fz-h5-dsk);
        padding-bottom: 5px;
    }
    h6{
        font-size: var(--fz-h6-dsk);
    }
    p{
        font-size: var(--fz-p-dsk);
        padding-bottom: 8px;
    }
    .price {
        font-size: var(--fz-price-dsk);
    }

    .discount {
        font-size: var(--fz-discount-dsk);
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +769 --------------*/
/* -------------------------------*/
@media (min-width: 769px){
    /* Aquí controlamos que algunos elementos, */
    /*   ej. inputs no crezcan tanto,          */
    /*   También un control extra en flexs     */
    /*   de vista de varios productos          */
    main.main-index article div.main-article {
        flex-direction: column;
    }
    main.main-index section div.products article {
        width: 22%;
    }
}


/* -------------------------------*/
/* ------- Media Querys ----------*/
/* -------------------------------*/
/* ----------- +1010 -------------*/
/* -------------------------------*/
@media (min-width: 1010px){
    /* Aquí algunos flex column pasan a row */
    /* para un modo desktop total           */
    main.main-index article div.main-article {
        flex-direction: row;
    }
}