<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Bot칩n de Arrepentimiento '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
                
    
            <h4 class="contentPageTitle">Bot칩n de Arrepentimiento</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
    
            <p class="contentPageParagraph">
                Ac치 va todo lo que tenga que ver con el bot칩n de arrepentimiento.
            </p>

            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
    
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>