<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Botón de Arrepentimiento Ingresado '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
                
    
            <h4 class="contentPageTitle">Botón de Arrepentimiento Ingresado</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            
            <div class="contentPageParagraphAlert">
                <ul >
                    <br>
                    <li class="contentPageParagraph-item">
                        Estimado cliente, el formulario Botón de Arrepentimiento ha sido enviado con éxito.
                    </li>
                    <li class="contentPageParagraph-item">
                        Representantes comerciales de Tecnocom se estarán comunicando con ud. a la brevedad.
                    </li>
                    <li class="contentPageParagraph-item">
                        Su código de trámite es BA-001-000012.
                    </li>
                </ul>
            </div>

            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>

            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
            </form>
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>