<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Contacto '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
                
    
            <h4 class="contentPageTitle">Contacto</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
    
            <ul class="contentPageParagraph">
                <li class="contentPageParagraph-item">
                    Podés contactarte con nosotros a traves de nuestro número de télefono, whatsapp o correo electrónico. 
                </li>
                <li class="contentPageParagraph-item">
                    Teléfono : 0810-555-8892
                </li>
                <li class="contentPageParagraph-item" >
                    whatsapp : 3804-55-8892
                </li>
    
                <li class="contentPageParagraph-item">
                    Correo: consultas@tecnocom.com.ar
                </li>
    
            </ul>

            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
    
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>