<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TecnoCom</title>
        <link rel="stylesheet" href="css/styles.css">

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/desing/fontawesome6/css/fontawesome.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/brands.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/solid.css" rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <header>

            <!-- top-header -->
            <div class="top-header">

                <!-- Logo-->
                <div class="logo"> 
                    <img src="desing/tecnocom_logo.jpg" width="200" aling="center" alt="Tecnocom Insumos Tecnológicos">
                </div>

                <!-- Barra de búsquedas -->
                <form class="form-search" action="#" method="post">

                    <div class="submit-search">
                        <input class="input-search" type="text" name="search" id="search" placeholder="Buscar productos...">

                        <div class="bocadito"></div>

                        <span class="iconito-search">
                        <i class="fa-solid fa-magnifying-glass  fa-beat" style="--fa-animation-duration: 5s;"></i> 
                        </span>
                    </div>
                </div>
        </header>

        <main>
            
        </main>

        <footer>
            <h6>Copyright © 2022 Tecnocom S.R.L.</h6>
        </footer>
    </body>
</html>