<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tecnocom</title>
        <link rel="stylesheet" href="css/styles.css">

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/desing/fontawesome6/css/fontawesome.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/brands.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/solid.css" rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <header>

            <!-- top-header -->
            <div class="top-header">

                <!-- Logo-->
                <div class="logo"> 
                    <img src="desing/tecnocom_logo.jpg" width="200" aling="center" alt="Tecnocom Insumos Tecnológicos">
                </div>

                <!-- Barra de búsquedas -->
                <form class="form-search" action="#" method="post">

                    <div class="submit-search">
                        <input class="input-search" type="text" name="search" id="search" placeholder="Buscar productos...">

                        <div class="bocadito"></div>

                        <span class="iconito-search">
                        <i class="fa-solid fa-magnifying-glass  fa-beat" style="--fa-animation-duration: 5s;"></i> 
                        </span>
                    </div>
                </div>
        </header>

        <!-- Main (Productos) -->
        <<main class="main-index">

            <!-- Sección: Equipate con lo último en tecnología -->
            <section class="last-tec">

                <h3>Equipate con lo último en tecnología</h3>

                <div class="products">

                    <article>
                        <img src="images/monitor_benq.png" alt="Benq Led Monitor 144hz" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$119.999</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Benq Led Monitor Ex2780q Metallic 2k 144hz</h4>
                        </div>
                    </article>

                    <article>
                        <img src="images/auriculares-girl.png" alt="Auriculares Cat Ear Cosplay" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$9.809</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Auriculares Cat Ear Headset Plegable Led Light Cosplay</h4>
                        </div>
                    </article>

                    <article>
                        <img src="images/mouse-cyan.png" alt="Mouse inalámbrico Logitech" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$3.399</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Mouse inalámbrico Logitech Lightspeed blue</h4>
                        </div>
                    </article>

                    <article>
                        <img src="images/monitor-omni.png" alt="Monitor Gamer 24" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$83.999</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Monitor Gamer 24 Viewsonic 240hz"</h4>
                        </div>
                    </article>
                </div>
            </section>
            
            <!-- Sección de Ofertas -->
            <section class="offers">

                <h3>Ofertas</h3>

                <div class="products">

                    <article>
                        <img src="images/monitor_gadnig.png" alt="Monitor gamer Gadnic" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$31.999</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Monitor gamer Gadnic G4D71N-F 27</h4>
                        </div>
                    </article>

                    <article>
                        <img src="images/tablet_blanca.png" alt="Tablet con funda Gadnic Taurus 10.1" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$35.399</p>
                            <p class="discount">30% off</p>
                            <h4 class="description">Tablet con funda Gadnic Taurus 10.1"</h4>
                        </div>
                    </article>

                    <article>
                        <img src="images/mouse-razer-basilik.png" alt="Mouse inalámbrico recargable Razer Basilisk Ultimate" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$20.278</p>
                            <p class="discount">5% off</p>
                        <h4 class="description">Mouse inalámbrico recargable Razer Basilisk Ultimate</h4>
                        </div>
                    </article>

                    <article>
                        <img src="images/auricular-hiper-x.png" alt="Micrófono HyperX QuadCast" class="product_img">
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Micrófono HyperX QuadCast multipatrón negro</h4>
                        </div>
                    </article>
                </div>  
            </section>

        <footer>
            <h6>Copyright © 2022 Tecnocom S.R.L.</h6>
        </footer>
    </body>
</html>