<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Medios de Pago '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
                
    
            <h4 class="contentPageTitle">Medios de Pago</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
    
            <ul class="contentPageParagraph">
                <li class="contentPageParagraph-item">
                    Emitimos Factura A o B según corresponda.
                </li>
    
                <li class="contentPageParagraph-item">
                    Los precios publicados tienen IVA incluído y pueden sufrir variaciones sin previo aviso.
                </li>
    
                <li class="contentPageParagraph-item">
                    Disponibilidad sujeta a stock.
                </li>
    
                <li class="contentPageParagraph-item">
                    Los precios son los publicados en nuestra web al momento de efectivizar el pago del/los producto/s.
                </li>
    
                <li class="contentPageParagraph-item">
                    Los precios «Ofertas y/o descuentos» son exclusivos para pagos mediante transferencia/deposito bancario.
                </li>
    
                <li class="contentPageParagraph-item">
                    Medios de pago en efectivo: Rapipago, Pago Fácil, Deposito y/o Transferencia Bancaria (Banco Galicia).
                </li>
    
                <li class="contentPageParagraph-item">
                    Medios de tarjetas: Tarjeta de Crédito, Tarjeta de Débito, QR MercadoPago.
                </li>
    
                <li class="contentPageParagraph-item">
                    Por financiación con tarjetas de crédito te enviamos un link para que puedas realizar el pago de forma segura.
                </li>
    
                <li class="contentPageParagraph-item">
                    Los planes de financiación son exclusivamente con tarjetas bancarias.
                </li>
    
                <li class="contentPageParagraph-item">
                    Todos los productos cuentan con su respectiva garantía ya que operamos con canales oficiales de cada marca.
                </li>
    
                <li class="contentPageParagraph-item">
                    Todas las imágenes de los productos son sólo a modo ilustrativo y pueden diferir del artículo en stock.
                </li>
    
            </ul>

            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
    
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>