<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Cambios '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
                
    
            <h4 class="contentPageTitle">Política de Cambios</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
    
            <h3>Devoluciones</h3><br>

            <ul class="contentPageParagraph">
                <li class="contentPageParagraph-item">
                    Si cambia de opinión y quiere hacer una devolución, tiene un plazo máximo de 14 días a partir del momento en que recibe su pedido. <br>Después de 14 días no podemos aceptar ninguna devolución.
                    <br><br>Los gastos de envío para hacer una devolución corren por parte del Cliente. Después de que un pedido ha sido enviado si el Cliente decide devolverlo siempre serán descontados los gastos de envío.  
                    <br><br>Si el Cliente decide devolver un pedido debido a retrasos ocasionados por las compañías de mensajería debe tener en cuenta que TECNOCOM no se hace responsable por las demoras o problemas ocasionados por las empresas de mensajería. Por este motivo si decide hacer una devolución de un pedido siempre serán descontados los gastos de envío, haciéndose cargo el Cliente de cualquier gasto adicional que se genere por este motivo.
                </li>
            </ul><br><br>
            <h3>REEMBOLSOS (En el caso que apliquen)</h3><br>
                <ul class="contentPageParagraph">
                    <li class="contentPageParagraph-item">
                        Si ha hecho una devolución de un pedido, una vez recibamos los productos en perfecto estado y con su embalaje original procederemos a enviarle un email notificándole que lo hemos recibido y si el reembolso ha sido aprobado.
                        <br><br>Si el reembolso ha sido aprobado procederemos a hacer la devolución del importe descontando los gastos del envío con el mismo método que haya utilizado para pagar, en un plazo máximo de 14 días.
                    </li>
                    <li class="contentPageParagraph-item">
                        Si el reembolso ha sido aprobado procederemos a hacer la devolución del importe descontando los gastos del envío con el mismo método que haya utilizado para pagar, en un plazo máximo de 14 días.
                        <br><br>Únicamente en el caso de que el producto entregado sea defectuoso o incorrecto, reembolsaremos también al Cliente los gastos de envío correspondientes.
                    </li>
                    <li class="contentPageParagraph-item">
                        Si el producto NO se encuentra en las condiciones en que fue enviado, en su empaque original y/o ha sido usado no podremos realizar ningún tipo de reembolso.
                    </li>
                    <li class="contentPageParagraph-item">
                        Si el Cliente decide devolver un pedido debido a retrasos ocasionados por las compañías de mensajería debe tener en cuenta que TECNOCOM no se hace responsable por las demoras o problemas ocasionados por las empresas de mensajería. Por este motivo si decide hacer una devolución de un pedido siempre serán descontados los gastos de envío, haciéndose cargo el Cliente de cualquier gasto adicional que se genere por este motivo.
                    </li>
                </ul><br><br>
            <h3>POLÍTICAS SOBRE PRODUCTOS DEFECTUOSOS O ROTOS</h3><br>
                    <ul class="contentPageParagraph">
                        <li class="contentPageParagraph-item">
                            En los casos en que usted considere que en el momento de la entrega el producto no se ajusta a lo estipulado en el contrato, deberá ponerse en contacto con nosotros de forma inmediata y le indicaremos la forma de proceder. No aceptamos reclamaciones pasados 3 días de la entrega por parte de la empresa de mensajería.
                        </li>
                        <li class="contentPageParagraph-item">
                            Procederemos a examinar detenidamente la información proporcionada sobre el defecto del producto y le comunicaremos por e-mail dentro de un plazo razonable si procede el reembolso o la sustitución del mismo (en su caso). El reembolso o la sustitución del artículo se efectuará lo antes posible y, en cualquier caso, dentro de los 14 días siguientes a la fecha en la que le enviemos un correo electrónico confirmando que procede el reembolso o la sustitución del artículo no conforme.
                        </li>
                    </ul><br>
            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
    
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>