<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Medios de Pago '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
                
    
            <h4 class="contentPageTitle">Preguntas frecuentes</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
    
            <h5 >Consulta de Stock</h3>

            <ul class="contentPageParagraph">
                <li class="contentPageParagraph-item">
                    ¿Hay stock de todos los productos?
                 </li>
                <li class="contentPageParagraph-item">
                    Sí, todos los productos que publicamos están en stock. <br> En caso de agotarse algún talle o color, esa característica se bloqueará.<br>
                    En el caso que no haya stock en la página de un artículo que estés buscando, contáctate con nosotros. De esta forma podremos verificar la disponibilidad del producto y darte una respuesta concreta a tu pedido.
                </li>
                <li class="contentPageParagraph-item">
                    Compré y me dijeron que no tienen stock, ¿qué hago?
                 </li>
                <li class="contentPageParagraph-item">
                    Esto es inusual, pero nuestro Centro de Atención al Cliente va a contactarse con vos para brindarte una solución.<br> Si querés, podés comunicarte con nosotros llamando al número de contacto o escribiéndonos al whatsapp.<br> No olvides tener a mano tu número de pedido.
                </li>
                <li class="contentPageParagraph-item">
                    ¿Hay algún límite de compra?
                 </li>
                <li class="contentPageParagraph-item">
                    No. El único límite de compra que tenemos es el stock de nuestro e-commerce.<br> Si deseás hacer una compra mayorista comunicate con nosotros.
                </li>
            </ul>
            <h5 >Cambios y devoluciones</h3>
                <ul class="contentPageParagraph">
                    <li class="contentPageParagraph-item">
                        Paso a paso
                     </li>
                    <li class="contentPageParagraph-item">
                        • Escribinos por Whatsappal.<br>
                        • En el mensaje envianos tu número de pedido, el artículo que deseas cambiar y por cuál. En caso de ser necesario adjuntar fotos.<br>
                        • Una vez aprobado el cambio, dentro de los siguientes 10 días hábiles Correo Andreani pasará a retirar el producto por tu domicilio y en el mismo momento entregará la nueva unidad.
                    </li>
                    <li class="contentPageParagraph-item">
                        Otras consideraciones
                     </li>
                     <li class="contentPageParagraph-item">
                        El tiempo estimado para la realización de un cambio por producto fallado o mal enviado puede comprender hasta 10 días. 
                     </li>
                </ul>
                <h5 >Envio y seguimiento</h3>
                    <ul class="contentPageParagraph">
                        <li class="contentPageParagraph-item">
                            ¿Cuál es el costo de envío?
                         </li>
                        <li class="contentPageParagraph-item">
                            El costo depende del código postal del domicilio de entrega.Los envíos en Argentina son gratis en compras superiores a $18.000! / No acumulable con otras promociones.
                        </li>
                        <li class="contentPageParagraph-item">
                            ¿Puedo hacer el seguimiento de mi pedido?
                         </li>
                         <li class="contentPageParagraph-item">
                            Te enviaremos un mail con un código (tracking number) y las instrucciones para que puedas hacer el seguimiento de tu pedido. 
                         </li>
                    </ul>
            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
    
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>