<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tecnocom</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/index-styles.css">
        <link rel="stylesheet" href="css/product-styles.css">
        
        <style> @font-face { 
                font-family: BauerRegular; src: url(desing/fonts/BAUERG__.TTF); }
            @font-face { 
                font-family: OsakaSansSerif; src: url(desing/fonts/osaka-re.ttf); }
            @font-face { 
                font-family: ElgethyBoldOblique; src: url(desing/fonts/Elgethy_Bold_Oblique.ttf); }
            @font-face { 
                font-family: HandSean; src: url(desing/fonts/handsean.ttf); }
            @font-face { 
                font-family: DanielBK; src: url(desing/fonts/danielbk.ttf); }
            @font-face { 
                font-family: Coolvetica; src: url(desing/fonts/coolvetica_rg.ttf); }
        </style>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/desing/fontawesome6/css/fontawesome.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/brands.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/solid.css" rel="stylesheet">
    </head>

    <header>

        <!-- top-header -->
        <div class="top-header">

            <!-- Logo-->
            <div class="logo"> 
                <img src="desing/tecnocom_logo.jpg" width="200" aling="center" alt="Tecnocom Insumos Tecnológicos">
            </div>

            <!-- Barra de búsquedas -->
            <form class="form-search" action="#" method="post">

                <div class="submit-search">
                    <input class="input-search" type="text" name="search" id="search" placeholder="Buscar productos...">

                    <div class="bocadito"></div>

                    <span class="iconito-search">
                    <i class="fa-solid fa-magnifying-glass  fa-beat" style="--fa-animation-duration: 5s;"></i> 
                    </span>
                </div>
            </div>
    </header>
    <body>

        <!-- Main (Producto Detail) -->
        <main class="main-p-detail">
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Detalle del producto: NOMBRE DEL PRODUCTO</h2>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <img src="/images/products/monitor_benq.png" alt="product image" class="product-detail-img">
                            <p class="product-detail-description">
                                PRODUCT DESCRIPTION
                            </p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <article class="product-detail-info">
                                <h2 class="product-detail-title">PRODUCT NAME</h2>
                                
                                    <p class="product-detail-price small">
                                        <span>$PRICE</span>
                                        /
                                        <b>DISCOUNT% OFF</b>
                                    </p>
                                    <p class="product-detail-price">
                                        $FINAL PRICE
                                    </p>
                                    <p class="product-detail-price">
                                        $PRICE
                                    </p>
        
                                <ul class="actions-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-store"></i>
                                        <p>Retiro gratis en locales del vendedor</p>
                                    </li>
                                </ul>
        
                                <a href="#" class="buy-now-button">COMPRAR AHORA</a>
                                <hr>
        
                                <a href="/products/edit/¿?" class="action-button edit">EDITAR PRODUCTO</a>
                                <form action="/products/delete/¿¿" method="POST" style="display: inline-flex">
                                    <button type="submit" class="action-button delete">ELIMINAR</button>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Footer -->
            
    </body>
</html>