<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Quienes Somos '}) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <main class="main-content">
            <h4 class="contentPageTitle">Somos Tecnocom</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
            <p class="contentPageParagraph">Somos una empresa familiar fundada en la ciudad de La Rioja. 
                Nuestro principal capital invertido fue esfuerzo, trabajo y las ganas de superarnos día a día con la esperanza de crear una estructura sólida que nos permitiera hacer frente a los distintos desafíos que se nos podían presentar a lo largo del tiempo.
                Apoyados en alianzas estratégicas con las principales marcas tecnológicas nos fuimos volviendo referentes del mercado, ampliando nuestra oferta a mas de 2.000 productos de última generación, los cuales mantenemos y renovamos día a día con el objetivo de trasladar a nuestros clientes la excelencia, calidad,innovación y vanguardia que nos exigimos en cada paso que damos.
                Somos lo que querés, cuando querés, donde querés. Somos Tecnocom. </p><br>

            <h4 class="contentPageTitle">Nuestra visión</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
            <p class="contentPageParagraph">Ser la empresa líder y de referencia, a nivel nacional, en la comercialización y distribución de equipos tecnológicos </p><br>
            
            <h4 class="contentPageTitle">Nuestra misión</h4>
    
            <div class="linea"></div>
            <div class="linea"></div>
            <p class="contentPageParagraph">Ofrecer productos tecnológicos que acompañen y satisfagan las necesidades de nuestros clientes, acompañando los mismos con la mejor atención, asesoramiento y servicio post venta. Brindando además, la posibilidad de que cualquier persona en todo el territorio nacional pueda adquirir nuestros productos desde la comodidad de su hogar. </p><br>
            <div class="container-buttons">
                <button class="container-buttons" onclick="window.location.href='/'" id="button-in">Volver al Inicio</button>
            </div>
        </main>
        
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
    </body>
</html>