<div class="linea"></div>
<div class="linea"></div>

<footer class="footer">
    <script src="/js/slider.js"></script>
    <script src="/preview.js"></script>
    <div class="footer__top">
        <div class="footer__wrapper">
            <div class="footer__content-box">
                <h4>
                    <button>
                        TECNOCOM
                        <div class="footer__arrow-container">

                            <i class="fa-solid fa-chevron-right"></i>

                        </div>
                    </button>
                </h4>
                <div class="footer__collapse">

                    <div class="footer__collapse-content">
                        <ul class="footer__ul ">
                            <li class="footer__li"><a href="/quienesSomos">Quiénes somos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__content-box">
                <h4>
                    <button>
                        AYUDA
                        <div class="footer__arrow-container">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </button>
                </h4>
                <div class="footer__collapse">
                    <div class="footer__collapse-content">
                        <ul class="footer__ul ">
                            <li class="footer__li"><a href="/contacto">Contacto</a></li>
                            <li class="footer__li"><a href="/preguntas-frecuentes">Preguntas
                                    frecuentes</a>
                            </li>
                            <li class="footer__li"><a href="/medios-de-pago">Medios de Pagos</a></li>
                            <li class="footer__li"><a href="/politica-de-cambios">Cambios</a></li>
                            <li class="footer__li"><a href="/boton-de-arrepentimiento">Botón de
                                    arrepentimiento</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__content-box">
                <h4>
                    <button>
                        ATENCIÓN AL CLIENTE
                        <div class="footer__arrow-container">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </button>
                </h4>
                <div class="footer__collapse">
                    <div class="footer__collapse-content">
                        <ul class="footer__ul ">
                            <li class="footer__li"><a href="https://wa.me/" target="_blank">
                                    <span class="whatsapp-logo"></span>+54 9 XX XXXXXXXX</a></li>
                                    <div class="linea"></div>        
                            <li class="footer__li">Lun. a Vie. de 9 a 20hs.</li>
                            <div class="media-linea"></div>
                            <li class="footer__li">Sábados de 9 a 14hs.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__content-box footer__suscribe">
                <h4> <button>NEWSLETTER</button></h4>
                <div class="footer__suscribe-text">
                    <p>Suscribite a nuestro newsletter</p>

                </div>

                <form class="footer__form" action="#">
                    <div>
                        <input name="email" placeholder="Ingresá tu e-mail..." class="footer__form-mail" value="">
                    </div>
                    <button class="footer__form-submit" type="submit">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <h6>Copyright © 2022 Tecnocom S.R.L.</h6>
    </div>
</footer>