<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Tecnocom</title>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script src="/js/slider.js"></script>


    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/product-styles.css">
    <link rel="stylesheet" href="/css/footer-styles.css">

    <style>
        @font-face {
            font-family: BauerRegular; src: url(/desing/fonts/Heavitas.ttf); }
        @font-face {
            font-family: OsakaSansSerif; src: url(/desing/fonts/osaka-re.ttf); }
        @font-face {
            font-family: Bitsumishi; src: url(/desing/fonts/bitsumis.ttf); }
        @font-face {
            font-family: ElgethyBoldOblique; src: url(/desing/fonts/Elgethy_Bold_Oblique.ttf); }
        @font-face {
            font-family: HandSean; src: url(/desing/fonts/Biko_Regular.otf); }
        @font-face {
            font-family: DanielBK; src: url(/desing/fonts/Garet-Book.ttf); }
        @font-face {
            font-family: Coolvetica; src: url(/desing/fonts/coolvetica_rg.ttf); }
        @font-face {
            font-family: Jadefedgah; src: url(/desing/fonts/Jadefedgah[80].ttf); }
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/desing/fontawesome6/css/fontawesome.css" rel="stylesheet">
    <link href="/desing/fontawesome6/css/brands.css" rel="stylesheet">
    <link href="/desing/fontawesome6/css/solid.css" rel="stylesheet">
    <link rel="shortcut icon" href="/desing/logo/tcom.ico">


    






</head>